<h2>Access if forbidden</h2>
<p>Sorry, only kitchen or bar staff is allowed to see this page.</p>
<a class="btn btn-dark mb-2" href="/Restaurant/Overview">Go To The Restaurant Overview</a>
<img alt="chef is angry" width="100%" src="/images/chapeau.jpg">
