@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Chapeau.Models.Payment
@{
    string selectedCredit = Model.paymentType == "Credit Card" ? "selected" : "";
    string selectedDebit = Model.paymentType == "Debit Card" ? "selected" : "";
    string selectedCash = Model.paymentType == "Cash" ? "selected" : "";
}


@if (Model?.Table != null)
{
    <h2>Payment Details for Table @Model.Table.TableNumber</h2>
}
else
{
    <h2>Payment Details</h2>
}

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.MenuItem.Item_name</td>
                <td>@item.Quantity</td>
                <td>€@item.MenuItem.Price.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<p><strong>Subtotal:</strong> €@Model.TotalAmount.ToString("F2")</p>
<p><strong>Low VAT (9%):</strong> €@Model.lowVATAmount.ToString("F2")</p>
<p><strong>High VAT (21%):</strong> €@Model.highVATAmount.ToString("F2")</p>
<p><strong>Tip:</strong> €@Model.tipAmount.ToString("F2")</p>
<p><strong>Total Paid:</strong> €@Model.amountPaid.ToString("F2")</p>





<a asp-controller="Payment" asp-action="CompletePayment" asp-route-id="@Model.orderID" class="btn btn-success">Confirm Payment</a>



